.content {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-bottom: 50px; /* Same as the width of the footer */
    margin-top: 50px; /* Same as the width of the header */
}